.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px; 
}

.search-field {
  width: 50%;
  min-width: 200px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
